<h1>Edit Track</h1>

<%= render "shared/errors", object: @track %>

<fieldset>
  <form action="/tracks/<%= @track.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <br>

    <label>
      Title:<br>
      <input type="text" name="name" size="30" maxlength="120" value="<%= @track.name %>">
    </label><br><br>

    <label>
      Album:
      <select name="album_id">
        <% @same_band_albums.each do |album| %>
        <option value="<%= album.id %>"
          <% if album.id == @album.id %>
          selected="selected"
          <% end %>
          ><%= album.name %></option>
          <% end %>
        </select>
    </label><br><br>

    Track type:
    <label>
      <input type="radio" name="track_type" value="regular"
        <% if @track.track_type == "regular" %>
          checked="checked"
        <% end %>
      >
      Regular
    </label>
    <label>
      <input type="radio" name="track_type" value="bonus"
        <% if @track.track_type == "bonus" %>
          checked="checked"
        <% end %>
      >
      Bonus
    </label><br><br>

    <label>
      Lyrics:<br>
      <textarea name="lyrics" cols="60" rows="10"><%= @track.lyrics %></textarea>
    </label><br><br>

    <input type="submit" value="Update Track">
    <%= link_to "Cancel", session[:previous_url] %>

  </form>
</fieldset>
