<h1>Edit Album</h1>

<fieldset>
  <form action="/albums/<%= @album.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <br>
    <label>
      Title:<br>
      <input type="text" name="name" value="<%= @album.name %>">
    </label><br><br>
    <label>
      Band:
      <select name="band_id">
        <% @bands.each do |band| %>
          <option value="<%= band.id %>"
            <% if band.id == @band.id %>
              selected="selected"
            <% end %>
            ><%= band.name %></option>
        <% end %>
      </select>
    </label><br><br>
    Album type:<br>
    <label>
      <input type="radio" name="album_type" value="studio"
        <% if @album.album_type == "studio" %>
          checked="checked"
        <% end %>
        >
      Studio
    </label>
    <label>
      <input type="radio" name="album_type" value="live"
        <% if @album.album_type == "live" %>
          checked="checked"
        <% end %>
        >
      Live
    </label><br><br>
    <input type="submit" value="Update Album">
    <%= link_to "Cancel", url_for(:back) %>
  </form>
</fieldset>
