<h1><%= @album.name %></h1>

<h3>by <%= link_to @album.band.name, @album.band %></h3>

<h4><%= @album.album_type.capitalize %> album</h4>

<% if admin? %>
  <div style="float: left">
    <%= button_to "Edit", edit_album_path, method: :get %>
  </div>
  <div style="float: left">
    <%= button_to "Remove", album_path, method: :delete %>
  </div>
  <div style="float: left">
    <%= button_to "Add another Album", new_band_album_path(@album.band), method: :get %>
  </div>
<% end %>

<div style="float: left">
  <%= button_to "Back to #{@album.band.name}", @album.band, method: :get %>
</div>
<div style="clear: both">
</div>

<h3>Tracks:</h3>

<% @album.tracks.each do |track| %>
  <div class="track">
    <%= link_to track.name, track %>
  </div>
<% end %>

<% if admin? %>
  <%= button_to "Add Track", new_album_track_path(@album), method: :get %>
<% end %>
